body {
  &.body_paris{
    background: linear-gradient(135deg, $black, $torchred);
  }
  &.body_ny{
    background: url("../../src/img/new-york-manhattan.jpg") no-repeat ;
    background-size: cover;
  }
}

header {
  display: flex;
  justify-content: center;
  padding: 5em 0 0;
  h1 {
    text-align: center;
    font-size: 5em;
    color: $white;
  }
  &.header_paris{
    h1{
      font-family: $scorchedEarth;
    }
  }
  &.header_ny{
    h1{
      font-family: $harlem;
      text-transform: uppercase;
      -webkit-animation: pulse 2s infinite;
      -moz-animation: pulse 2s infinite;
      -o-animation: pulse 2s infinite;
      animation: pulse 2s infinite;
    }
  }
}


.countdown {
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 5px 3px 8px $mineshaft;
  width: 50%;
  margin: 0 auto;
  &.countdown_ny{
    background: $whiteOpacity2;
  }
}

.timer {
  color: $white;
  font-size: 3.5em;
  text-align: center;
  &.timer_paris{
    font-family: $fontBase02;
  }
  &.timer_ny{
    font-family: $fontCasino;
    text-transform: uppercase;
    color: $wildsand;
    text-shadow: 0 0 10px $auchico;
  }
  span{
    width: 1.5em;
    display: inline-block;
    text-align: center;
  }
}
